.topbar {
    width: 100%;
    height: 50px;
    background-color: rgb(234, 237, 237);
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbar-wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: brown;
    cursor: pointer;
}

.topbar-icon-container {
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    color: #555;
}
.top-icon-bag {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 12px;
    top: -9px;
    right: -9px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topright {
    display: flex;
    align-items: center;
}

.top-avatar {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}